.party {
    padding: 100px 0 200px;
    position: relative;
    .container {
        position: relative;
    }
    .title {
        padding-right: 150px;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 94px;
        margin-top: 60px;
    }
    &__person {
        &__photo {
            border-radius: 100%;
            overflow: hidden;
            background-color: #cabdac;
            // width: 320px;
            // height: 320px;
            margin: 0 auto;
            img {
                margin: 0 auto;
                display: block;
                object-fit: cover;
                max-width: 100%;
                height: 100%;
            }
        }
        &__name {
            font-weight: 600;
            font-size: 24px;
            line-height: 120%;
            margin-top: 28px;
            text-align: center;
        }
        &__title {
            font-size: 20px;
            line-height: 120%;
            margin-top: 6px;
            text-align: center;
            opacity: 0.6;
        }
        
    }
    &-btn {
        border: 1px solid #3057a2;
        border-radius: 62px;
        padding: 12px;
        width: fit-content;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        
        color: #3057a2;
        padding: 2px 12px;
        margin: 20px auto 0;
        transition: background-color .3s, color .3s;
        &:hover {
            color: #fff;
            background-color: #3057A2;
        }
    }
    //slider
.party__slider-container {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .party__slider {
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
    &__btns {
        position: absolute;
        top: 10px;
        z-index: 2;
        right: 0;
        display: flex;
        align-items: center;
        gap: 14px;
        
    }
  }
  
   
  .party__prev-button,
  .party__next-button {
    
    width: 44px;
    height: 44px;
    background-color: #313131;
    border: none;
    font-size: 24px;
    color: white;
    border-radius: 100%;
    background-position: center;
    background-size: 30%;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: background-color .3s;
    &:hover {
        background-color: #FBCE51;
    }
    &:disabled {
        background-color: #D6D6D6;
        cursor: auto;
    }
  }
  
  .party__prev-button {
    left: 22%;
    background-image: url(../img/prev-btn.svg);
  }
  
  .party__next-button {
    right: 22%;
        background-image: url(../img/next-btn.svg);
  }
  &__slides-count__wrap {
    font-size: 16px;
  }
  &__slides-count__all, &__slides-count__all2 {
    opacity: 0.6;
  }
  .promo__wrap {
    bottom: 0;
  }
}
